.categories-carousel{
    overflow-y: hidden; 
    overflow-x: hidden;


    width: auto;
    height: auto;
    padding: 10px;
    white-space: nowrap;

    scroll-behavior: smooth;


}

.categories-carousel .item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px 0 0;

}

.categories-carousel .item span{
    margin-top: 10px;
}

.categories-carousel .item .box{
    width: 100px;
    height: 100px;
    padding: 0;
    background: #dadada;
    border-radius: 50%;
    display: inline-block;
}

.controls{
    display: flex;
    justify-content: flex-end;
}

.controls button{
    width: 50px;
    height: 50px;
    border: 1px solid #37a794;
    border-radius: 50%;
}