

.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #22b0e6;
    padding:0;
    position: relative;
}

.navigation ul li{
    list-style: none !important;
    padding: 20px;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
    color: #fff !important;
}

.menu-down:hover .dropdown-menu{
    display: flex;
}

.menu-down .dropdown-menu:hover{
    display: flex;
}

.navigation ul li:hover{
    background: #0986b5;
}

ul.dropdown-menu {
    bottom: -130px;
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
}

ul.dropdown-menu li{
    width: 100%;
}